p {
    font-size: 25px;
    }


h2 {
    color: #EC8930;
    font-size: 30px;
    }


ul {
    margin-left: 40px;
    list-style-type: square;
    font-size: 18px;
    }
        
li{
    font-size: 18px;
    }
